.actionMenu {
    display: flex;
    gap: 8px;
    border-radius: 100vw;
    background-color: var(--background-secondary);
    padding: 8px;
}

.actionItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--background-primary);
    padding: 16px;
    cursor: pointer;
    border: none;
}

.sizeMenu {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 100vw;
    cursor: default;
    background-color: var(--background-secondary);
    z-index: 1000;
}

.sizeMenu > input {
    position: relative;
    cursor: pointer;
}

.colorMenu {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px;
    border-radius: 100vw;
    cursor: default;
    background-color: var(--background-secondary);
    z-index: 1000;
}

.colorContainer {
    position: relative;
}

.colorContainer > input {
    opacity: 0;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
}

.colorMenuDisplay {
    width: 64px;
    height: 28px;
    border-radius: 100vw;
    cursor: pointer;
}

.colorMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--background-primary);
    padding: 5px;
    cursor: pointer;
    border: none;
}

.colorMenuButton > svg {
    width: 18px;
    height: 18px;
}

@media (max-width: 1000px) {
    .actionMenu {
        border-radius: 0;
        justify-content: space-around;
    }

    .actionItem {
        padding: 22px;
        border-radius: 4px;
    }
}
